* {
  /* everything gets border-box sizing, to make calculations easy (and more game-like) */
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  letter-spacing: 1px;
  color: #3e4049;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  text-align: center;
}

/* remove the stupid blue borders around the buttons and textareas.. */
button:focus { outline: 0 }
textarea:focus { outline: 0 }

/*
anchor elements cannot be used because passive listeners need to be used for performance reasons, which means preventDefault cannot be called for clicks on the anchor elements. this makes single-page navigation impossible.

so, the 'link' element is used. by default it's `display: hidden`, which is good linking css files. the link element does show the href value on the bottom of the screen, so they basically work visually just like anchor elements, cept they don't do anything -- which is what we want. we listen to click events passively on them and navigate inside of the page perfectly.

this resets the style to show links as inline elements. however, since the header by default is `display: none` all of the css reference links in the header will not be shown, so it's fine.

note: it appears that browsers only preload the content if rel="stylesheet" or rel="preload" ref: https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types

you will need to define your own link color to override the user agent stylesheet (usually it's an ugly blue, so quite noticeable.)

                -kenny 2020-02-26
*/
link { display: inline; cursor: pointer }
